* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

body {
    background-color: rgb(245, 248, 248);
}

nav {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(66, 66, 66);
    font-family: 'Bitter', serif;
}

nav img {
    height: 65px;
    width: 240px;
    margin-left: 12%;
    background-color:white;
    border-radius: 12px;
}

nav ul {
    display: flex;
    margin-left:4%;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color:white;
    font-size: 24px;
    padding:15px;
    border-radius:12px;
}

.nav-input {
    margin-right:5%;
}

nav ul li a:hover {
    background-color:#2f2828;
}

.nav-input input {
    width:330px;
    height: 55px;
    border-radius:12px;
    margin-left:24px;
    margin-top:22px; 
}

.nav-input i {
    position:relative;
    left:62px;
    bottom:37px;
    font-size:larger
}

::placeholder {
    font-size:20px;
    text-align:center;
    font-family: 'Bitter', serif;
}

.absolute {
  text-align: center;
  margin-top: 35px;
}

.absolute h2 span {
    background-color: rgb(199, 196, 196);
    padding: 2px;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Bitter', serif;
}

.writer {
    display:flex;
    margin-bottom: 40px;
}

.writer p {
    font-size:20px;
    font-family: 'Bitter', serif;
    margin:0 8px;

}
.writer span {
    font-style:italic;
    font-size:18px;
    font-weight:lighter;
}
.writer img {
    height: 60px;
    width: 60px;
}

.explanation {
    font-size: 45px;
    width: 90%
}

.tools {
    display: flex;
}

.tools p {
    margin:20px 0 140px 0;
    padding-left: 20px;
}

.artfooter {
    font-size:50px;
    margin-bottom: 85px;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:5%;
}

.leftup {
    background-color: rgb(240, 243, 242);
}

.rightup {
    background-color: rgb(245, 248, 248);
}

.leftdown {
    background-color: rgb(247, 247, 247);
}

.rightdown {
    background-color: rgb(250, 250, 250);
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5%;
    line-height: 2rem;
    grid-gap: 20px;
}

section span {
    font-size:9px;
}

section a {
    color: black;
    font-weight: bolder;
    font-size: 24px;
}

.head {
    margin: 15px 0 15px 0;
    font-weight: 600;
}

.sub-head {
    text-decoration: underline;
    font-size: 16px;
}

.sub-head:hover {
    color: red;
}

.footer-head {
    margin-top: 80px;
}

.main-container {
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 70px;
    margin: 5%;
    color: white;
    text-align: center;  
    border-radius: 20px; 
}

.container1 {
   padding: 120px; 
   background-color: #333;
   border-radius: 20px;
}

.container2 {
    background-color: #6b6969;
    padding:120px;
    border-radius: 20px;
}

.advert {
    text-align:center;
    margin: 15% 0;
    background-color: #f3eded;
    width: 100%;
    padding: 200px;
}

.advert h1 {
    font-size: 60px;
    margin: 5%;
}

.advert p {
    margin: 2%;
    width: 70%;
    margin-left: 16%;
}

.advert button {
    width: 380px;
    height: 60px;
    border-radius: 12px;
    font-size:larger;
    margin: 3% 0;
}

.advert button:hover {
    background-color: #fff;
}

.flexsecond {
    display:flex;
}

.personimg {
    width:20%;
    margin: 0 40px;
    border:12px solid #c3bcbc;
}

.person {
    width: 60%;
}

.person h4 {
    color: #666;
    font-size: 18px;    
}

.person p {
    color: 333;
    font-size: 20px;
    margin: 25px 0;
    line-height:1.8rem;
}

.person p a {
    color: #027979
}