* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(66, 66, 66);
    font-family: 'Bitter', serif;
}

nav img {
    height: 65px;
    width: 240px;
    margin-left: 12%;
    background-color:white;
    border-radius: 12px;
}

nav ul {
    display: flex;
    margin-left:4%;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color:white;
    font-size: 24px;
    padding:15px;
    border-radius:12px;
}

.nav-input {
    margin-right:5%;
}

nav ul li a:hover {
    background-color:#2f2828;
}

.nav-input input {
    width:330px;
    height: 55px;
    border-radius:12px;
    margin-left:24px;
    margin-top:22px; 
}

.nav-input i {
    position:relative;
    left:62px;
    bottom:37px;
    font-size:larger
}

::placeholder {
    font-size:20px;
    text-align:center;
    font-family: 'Bitter', serif;
}

.absolute {
  text-align: center;
  margin-top: 30px;
}
.absolute h2 span {
    background-color: grey;
    padding: 2px;
    font-size: 30px;
    font-weight: 900;
}
